<div class="app-card-container">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <h1>Contact</h1>
                
                <hr>
                
                <h3>Info</h3>
                <p>Still not done yet...</p>
                
                <h3>Phone</h3>
                <p><%= number_to_phone "3852093362" %></p>
                
                <h3>Email</h3>
                <p><a href="mailto:derekace756@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
            </div>
            
            <div class="col-md-6">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.6982689762353!2d-111.79359028418789!3d40.393379479367916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8110cae26883%3A0x14587f6df1b78f0a!2s281+E+800+N%2C+American+Fork%2C+UT+84003!5e0!3m2!1sen!2sus!4v1499795338025" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>